#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pokedex-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid black;
  width: 700px;
  border-radius: 15px;
}

.card-main {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 180px;
  border: 1px solid black;
  margin: 5px 5px 5px 5px;
  border-radius: 15px;
}
h4{
  margin: 1px 1px 1px 1px;
}
h6{
  margin: 1px 1px 1px 1px;
}

.load-button {
  background-color: Blue;
  color: white;
  margin-top: 15px;
}